.wrap {
  position: relative;
  width: 100%;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header:after {
  content: '';
  display: block;
  clear: both;
}

.header.on {
  background: #ddd;
}

.header .inner-area {
  margin: 0 auto;
  padding: 10px 0;
  width: 1100px;
}

.header .inner-area:after {
  content: '';
  display: block;
  clear: both;
}

.header .inner-area .logo {
  float: left;
}

.header .inner-area .logo a {
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
  letter-spacing: -2px;
  color: #b9b0b0;
}

.header .inner-area nav {
  float: right;
}

.header .inner-area nav .bar {
  display: none;
}

.header .inner-area nav .gnb:after {
  content: '';
  display: block;
  clear: both;
}

.header .inner-area nav .gnb li {
  float: left;
  margin: 0 20px;
  height: 50px;
  line-height: 50px;
}

.header .inner-area nav .gnb li a {
  position: relative;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 35px;
  color: #e4e4e4;
}

.header .inner-area nav .gnb li a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background: #ffd031;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

.header .inner-area nav .gnb li a.active:after, .header .inner-area nav .gnb li a:hover:after {
  width: 100%;
}

.content {
  width: 100%;
}

.content .title {
  display: inline-block;
  position: relative;
  margin: 0 auto 50px;
  height: 35px;
  font-family: "Volkhov", serif;
  font-size: 22px;
  color: #111;
}

.content .title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #111;
}

.content .headline {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  height: 33px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
}

.content .headline strong {
  font-weight: bold;
  color: #ffd031;
}

.content #intro {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.content #intro video {
  position: absolute;
  left: 65%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.content #intro .title-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content #intro .title-box:after {
  content: '';
  display: block;
  clear: both;
}

.content #intro .title-box .greet {
  display: inline-block;
  position: relative;
  width: 165px;
  height: 30px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  color: #fff;
}

.content #intro .title-box .greet:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #fff;
}

.content #intro .title-box strong {
  display: block;
  margin-bottom: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 23px;
  color: #b9b0b0;
}

.content #intro .title-box h2 {
  margin: 25px 0;
  font-family: "Volkhov", serif;
  font-size: 55px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 3px 2px 1px #111;
}

.content #intro .title-box p {
  clear: both;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #ffd031;
}

.content #intro .title-box p.job {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 400;
  letter-spacing: 0;
  color: #ccc;
}

.content #intro .line-txt {
  bottom: 0;
}

.content #intro .line-txt span:after {
  bottom: -58px;
}

.content #resume {
  padding: 100px 0;
  text-align: center;
}

.content #resume .profile {
  overflow: hidden;
  margin: 0 auto;
  width: 1000px;
}

.content #resume .profile:after {
  content: '';
  display: block;
  clear: both;
}

.content #resume .profile .thumb-bx {
  float: left;
  margin-right: 50px;
  padding-bottom: 20px;
}

.content #resume .profile .thumb-bx figure {
  overflow: hidden;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  font-size: 0;
}

.content #resume .profile .thumb-bx .btn-resume {
  position: relative;
  margin-top: 23px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  text-decoration: underline;
}

.content #resume .profile .thumb-bx .btn-resume:before {
  content: '';
  position: absolute;
  left: -20px;
  bottom: -15px;
  z-index: -5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffd031;
}

.content #resume .profile .introduction {
  text-align: left;
}

.content #resume .profile .introduction .headline {
  margin-bottom: 20px;
  font-family: "NanumBarunGothic", sans-serif;
}

.content #resume .profile .introduction .text {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

.content #resume .profile .introduction .text strong {
  font-weight: bold;
  font-size: 17px;
  color: #000;
}

.content #skill {
  padding: 100px 0;
  text-align: center;
  background: #eee;
}

.content #skill .skill-wrap {
  display: block;
  padding-bottom: 50px;
}

.content #skill .skill-wrap .skill-lst {
  display: inline-block;
  margin: 0 auto;
  width: 1000px;
}

.content #skill .skill-wrap .skill-lst > li {
  float: left;
  width: 33.3%;
}

.content #skill .skill-wrap .skill-lst > li [class*="chart"] {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border: 15px solid #000;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.content #skill .skill-wrap .skill-lst > li [class*="chart"] span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
}

.content #skill .skill-wrap .skill-lst > li .ability {
  margin-top: 25px;
}

.content #skill .skill-wrap .skill-lst > li .ability li {
  margin-bottom: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  line-height: 1;
}

.content #skill .skill-wrap .skill-lst > li .chart-html {
  border-color: #ffb93c;
}

.content #skill .skill-wrap .skill-lst > li .chart-css {
  border-color: #4f84ff;
}

.content #skill .skill-wrap .skill-lst > li .chart-js {
  border-color: #ff4a36;
}

.content #skill .history {
  margin: 0 auto;
  padding-top: 50px;
  width: 1000px;
  border-top: 2px solid #333;
  text-align: left;
}

.content #skill .history:after {
  content: '';
  display: block;
  clear: both;
}

.content #skill .history .charge {
  float: left;
}

.content #skill .history .charge .headliine strong {
  color: #ffd031;
}

.content #skill .history .charge .desc {
  margin-bottom: 5px;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 16px;
}

.content #skill .history .work {
  float: right;
  text-align: right;
}

.content #skill .history .work .btn-project {
  display: block;
  position: relative;
  z-index: 5;
  margin-bottom: 20px;
  padding-right: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  text-decoration: underline;
}

.content #skill .history .work .btn-project:after {
  content: '';
  position: absolute;
  right: -15px;
  bottom: -15px;
  z-index: -5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffd031;
}

.content #skill .history .work .sub-txt {
  margin-bottom: 10px;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  color: #fff;
  background: #000;
}

.content #skill .history .work .site {
  margin-bottom: 3px;
}

.content #skill .history .work .site a {
  font-family: "Noto Sans KR", sans-serif;
  color: #595959;
}

.content #skill .history .work .site a:hover {
  text-decoration: underline;
  color: #000;
}

.content #portpolio {
  padding: 100px 0;
  text-align: center;
}

.content #portpolio .ppt-wrap {
  margin: 0 auto;
  width: 1100px;
}

.content #portpolio .ppt-wrap [class*="item"] {
  margin-bottom: 1%;
  width: 100%;
}

.content #portpolio .ppt-wrap [class*="item"]:after {
  content: '';
  display: block;
  clear: both;
}

.content #portpolio .ppt-wrap [class*="item"] .text-box {
  padding: 25px 30px;
  width: 39%;
  height: 350px;
  text-align: left;
}

.content #portpolio .ppt-wrap [class*="item"] .text-box .headline {
  color: #fff;
}

.content #portpolio .ppt-wrap [class*="item"] .text-box .headline:after {
  background: #fff;
}

.content #portpolio .ppt-wrap [class*="item"] .text-box .list {
  margin-top: 10px;
}

.content #portpolio .ppt-wrap [class*="item"] .text-box .list li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 15px;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 15px;
  letter-spacing: .5px;
  line-height: 1.5;
  color: #fff;
}

.content #portpolio .ppt-wrap [class*="item"] .text-box .list li:before {
  content: '';
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
}

.content #portpolio .ppt-wrap [class*="item"] .text-box .list li.long-txt:before {
  top: 10px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.content #portpolio .ppt-wrap [class*="item"] .text-box .site-link {
  margin-top: 30px;
  color: #fff;
}

.content #portpolio .ppt-wrap [class*="item"] .text-box .site-link span {
  margin-right: 5px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

.content #portpolio .ppt-wrap [class*="item"] .text-box .site-link a {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  text-decoration: underline;
  word-break: break-all;
  color: #000;
}

.content #portpolio .ppt-wrap [class*="item"] .thumb-box {
  overflow: hidden;
  width: 60%;
  height: 350px;
}

.content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide {
  position: relative;
  width: 100%;
  height: 100%;
}

.content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide figure {
  position: relative;
  width: 100%;
  height: 100%;
}

.content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide figure:after {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide figure .hover-text {
  opacity: 0;
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 50;
  font-family: "Noto Sans KR", sans-serif;
  text-align: left;
  color: #fff;
}

.content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide figure .hover-text .date {
  position: relative;
}

.content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide figure .hover-text .date:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #fff;
}

.content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide figure .hover-text .project {
  margin-top: 15px;
  font-size: 22px;
}

.content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide:hover figure:after, .content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide:hover .hover-text {
  opacity: 1;
}

.content #portpolio .ppt-wrap .item-asiaePc .text-box {
  float: right;
  background: #2c547d;
}

.content #portpolio .ppt-wrap .item-asiaePc .thumb-box {
  float: left;
}

.content #portpolio .ppt-wrap .item-asiaePc .thumb-box figure {
  background: url(../img/company.jpg) no-repeat;
  background-size: cover;
}

.content #portpolio .ppt-wrap .item-drk .text-box {
  float: left;
  background: #ff5d4f;
}

.content #portpolio .ppt-wrap .item-drk .thumb-box {
  float: right;
}

.content #portpolio .ppt-wrap .item-drk .thumb-box figure {
  background: url(../img/drink.jpg) no-repeat;
  background-size: cover;
}

.content #portpolio .ppt-wrap .item-lk .text-box {
  float: right;
  background: #5e8438;
}

.content #portpolio .ppt-wrap .item-lk .thumb-box {
  float: left;
}

.content #portpolio .ppt-wrap .item-lk .thumb-box figure {
  background: url(../img/like.jpg) no-repeat;
  background-size: cover;
}

.content #portpolio .ppt-wrap .item-defens .text-box {
  float: left;
  background: #2f3439;
}

.content #portpolio .ppt-wrap .item-defens .thumb-box {
  float: right;
}

.content #portpolio .ppt-wrap .item-defens .thumb-box figure {
  background: url(../img/defense2.jpg) no-repeat;
  background-size: cover;
}

.content #portpolio .ppt-wrap .item-forum .text-box {
  float: right;
  background: #a65aaf;
}

.content #portpolio .ppt-wrap .item-forum .thumb-box {
  float: left;
}

.content #portpolio .ppt-wrap .item-forum .thumb-box figure {
  background: url(../img/conference.jpg) no-repeat;
  background-size: cover;
}

.content #portpolio .ppt-wrap .item-election .text-box {
  float: left;
  background: #ffa400;
}

.content #portpolio .ppt-wrap .item-election .thumb-box {
  float: right;
}

.content #portpolio .ppt-wrap .item-election .thumb-box figure {
  background: url(../img/goverment.jpg) no-repeat;
  background-size: cover;
}

.content #contact {
  padding: 100px 0 50px;
  background: #323232;
}

.content #contact .inwrap {
  margin: 0 auto;
  width: 1000px;
}

.content #contact .inwrap:after {
  content: '';
  display: block;
  clear: both;
}

.content #contact .inwrap .info-privacy {
  float: left;
  margin-top: -30px;
  text-align: left;
}

.content #contact .inwrap .info-privacy li {
  margin-bottom: 5px;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #9c9c9c;
}

.content #contact .inwrap .info-privacy li strong {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  color: #fff;
}

.content #contact .inwrap .btn-myself {
  float: right;
  text-align: right;
}

.content #contact .inwrap .btn-myself li {
  display: inline-block;
  position: relative;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 15px;
  color: #9c9c9c;
}

.content #contact .inwrap .btn-myself li:first-child {
  margin-right: 25px;
}

.content #contact .inwrap .btn-myself li:before {
  content: '';
  position: absolute;
  top: -35px;
  right: 0;
  width: 30px;
  height: 30px;
}

.content #contact .inwrap .btn-myself li a {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: #fff;
}

.content #contact .inwrap .btn-myself li a:hover {
  text-decoration: underline;
}

.content #contact .inwrap .btn-myself li.resume:before {
  height: 29px;
  background: url(../img/ico/thumbs-up.png) no-repeat;
  background-size: contain;
}

.content #contact .inwrap .btn-myself li.ability:before {
  background: url(../img/ico/check.png) no-repeat;
  background-size: contain;
}

.content #contact .inwrap .copyright {
  clear: both;
  padding-top: 65px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

footer {
  background: #323232;
}

footer .copyright {
  padding-bottom: 25px;
  font-size: 13px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 1260px) {
  .header .inner-area {
    padding: 10px 50px;
    width: 100%;
  }
  .content .headline {
    margin-bottom: 5px;
    height: 30px;
    font-size: 17px;
  }
  .content .headline:after {
    height: 2px;
  }
  .content #intro .title-box h2 {
    font-size: 50px;
  }
  .content #resume {
    padding: 70px 30px;
  }
  .content #resume .profile {
    width: 100%;
  }
  .content #resume .profile .thumb-bx {
    margin-right: 4%;
  }
  .content #skill {
    padding: 100px 30px;
  }
  .content #skill .skill-wrap .skill-lst {
    width: 100%;
  }
  .content #skill .skill-wrap .skill-lst > li [class*="chart"] {
    width: 130px;
    height: 130px;
  }
  .content #skill .skill-wrap .skill-lst > li [class*="chart"] span {
    font-size: 20px;
  }
  .content #skill .history {
    width: 100%;
  }
  .content #portpolio {
    padding: 100px 20px;
    text-align: center;
  }
  .content #portpolio .ppt-wrap {
    width: 100%;
  }
  .content #portpolio .ppt-wrap [class*="item"] {
    margin-bottom: 1%;
    width: 100%;
  }
  .content #portpolio .ppt-wrap [class*="item"]:after {
    content: '';
    display: block;
    clear: both;
  }
  .content #contact {
    padding: 100px 30px 50px;
  }
  .content #contact .inwrap {
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .header .inner-area {
    padding: 0 20px;
  }
  .header .inner-area .logo {
    float: left;
  }
  .header .inner-area .logo a {
    font-size: 25px;
    line-height: 50px;
    color: #fff;
  }
  .header .inner-area nav {
    float: right;
    width: 50px;
    height: 50px;
  }
  .header .inner-area nav .bar {
    display: block;
    position: relative;
    top: 50%;
    left: 58%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 0;
    width: 20px;
    height: 2px;
    background: #fff;
  }
  .header .inner-area nav .bar:before, .header .inner-area nav .bar:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .header .inner-area nav .bar:before {
    top: -7px;
  }
  .header .inner-area nav .bar:after {
    top: 7px;
  }
  .header .inner-area nav .gnb {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    padding: 20px 30px 40px;
    background: rgba(0, 0, 0, 0.5);
  }
  .header .inner-area nav .gnb li {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .header .inner-area nav .gnb li a {
    position: relative;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 36px;
  }
  .header .inner-area nav .gnb.on {
    display: inline-block;
  }
  .content #intro .title-box h2 {
    font-size: 40px;
  }
  .content #resume .profile .thumb-bx {
    display: inline-block;
    float: none;
    margin-right: 0;
    text-align: center;
  }
  .content #resume .profile .thumb-bx figure {
    width: 250px;
    height: auto;
    border-radius: 10px;
  }
  .content #resume .profile .thumb-bx .btn-resume {
    margin-top: 30px;
  }
  .content #resume .profile .introduction {
    margin-top: 25px;
  }
  .content #resume .profile .introduction .headline {
    margin-bottom: 5px;
  }
  .content #skill {
    padding: 70px 30px;
  }
  .content #skill .skill-wrap .skill-lst > li [class*="chart"] {
    width: 115px;
    height: 115px;
    border-width: 10px;
  }
  .content #skill .skill-wrap .skill-lst > li [class*="chart"] span {
    font-size: 19px;
  }
  .content #portpolio {
    padding: 70px 20px;
  }
  .content #portpolio .ppt-wrap [class*="item"] {
    margin-bottom: 3%;
  }
  .content #portpolio .ppt-wrap [class*="item"] .text-box {
    display: none;
  }
  .content #portpolio .ppt-wrap [class*="item"] .thumb-box {
    float: none;
    width: 100%;
  }
  .content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide figure {
    padding: 0 20px;
  }
  .content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide figure:after {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
  }
  .content #portpolio .ppt-wrap [class*="item"] .thumb-box .view-guide figure .hover-text {
    opacity: 1;
    padding: 0 20px;
    left: 0;
    word-break: break-all;
  }
}

@media only screen and (max-width: 575px) {
  .content #intro .title-box {
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    padding: 0 30px;
    width: 100%;
  }
  .content #intro .title-box .greet {
    width: 75px;
  }
  .content #intro .title-box strong {
    font-size: 20px;
  }
  .content #intro .title-box h2 {
    font-size: 30px;
  }
  .content #intro .title-box p {
    font-size: 15px;
  }
  .content #skill .skill-wrap {
    padding-bottom: 0;
  }
  .content #skill .skill-wrap .skill-lst > li {
    float: none;
    margin-bottom: 50px;
    width: 100%;
  }
  .content #skill .history .charge {
    float: none;
  }
  .content #skill .history .work {
    float: none;
    margin-top: 20px;
  }
  .content #skill .history .work .sub-txt {
    display: inline-block;
  }
  .content #contact .inwrap .info-privacy {
    float: none;
    margin-bottom: 70px;
  }
  .content #contact .inwrap .info-privacy li {
    text-align: center;
    font-size: 13px;
  }
  .content #contact .inwrap .info-privacy li strong {
    font-size: 14px;
  }
  .content #contact .inwrap .btn-myself {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
  .content #contact .inwrap .btn-myself li {
    font-size: 14px;
  }
  .content #contact .inwrap .btn-myself .resume:before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .content #contact .inwrap .btn-myself .ability:before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .content #contact .inwrap .copyright {
    padding-top: 45px;
  }
}
/*# sourceMappingURL=sunny.css.map */