@charset "utf-8";

.match_wrap {position: relative; padding-top: 100px;}
.match_wrap .btn_relative {display: none;}
.content {background: url(https://cwstatic.asiae.co.kr/election2020/main/news/bg_news.png) center top no-repeat;}

/* 빅매치 title */
.mtch_slide {position:relative; overflow:hidden; padding-top: 20px; width:100%; height:260px; margin-bottom: 40px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.mtch_slide .match_lst, .mtch_slide .match_lst > div {overflow:hidden; width:100%; height:240px;}
.mtch_slide .match_lst {overflow:visible; overflow-x:visible; margin:0; padding:0; white-space:nowrap; font-size:0;}
.mtch_slide .match_lst > div .slick-track {height:100%; margin:0;}
.mtch_slide .match_lst > div .slick-slide > div, .mtch_slide .match_lst > div .slick-slide > div > div {height:100%;}

.mtch_slide .match_lst > div {position:relative; width:100%; height:100%; display:inline-block; white-space:normal; vertical-align:top;}
.mtch_slide .match_lst > div .slick-slide > div > div > a, .mtch_slide .match_lst > div .slick-slide > div > div > a .thumb {display:block; vertical-align:top;}
.mtch_slide .match_lst > div .slick-slide > div > div > a {position:relative; width:100%; height:100%; text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.mtch_slide .match_lst > div .slick-slide > div > div > a .thumb {position:absolute; width: 820px; height: 248px;top: 50%; left: 50%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); color: transparent; font-size: 0; line-height: 0; text-indent: -999px;}

/* 빅매치 slide 이미지 */
.mtch_slide .match_lst > div .slick-slide > div > div > a .img01 {background: url(https://cwstatic.asiae.co.kr/election2020/bigmatch/mch_01.png) no-repeat; background-size: contain;}
.mtch_slide .match_lst > div .slick-slide > div > div > a .img02 {background: url(https://cwstatic.asiae.co.kr/election2020/bigmatch/mch_02.png) no-repeat; background-size: contain;}
.mtch_slide .match_lst > div .slick-slide > div > div > a .img03 {background: url(https://cwstatic.asiae.co.kr/election2020/bigmatch/mch_03.png) no-repeat; background-size: contain;}
/* //빅매치 slide 이미지 */

.mtch_slide .match_lst > div .slick-slide > div > div > a .top_txt, .mtch_slide .mtch_lst > div .slick-slide > div > div > a .top_txt em, .mtch_slide .mtch_lst > div .slick-slide > div > div > a .txt_box, .mtch_slide .mtch_lst > div .slick-slide > div > div > a .txt_box em {vertical-align:top; }
.mtch_slide .match_lst > div .slick-slide > div > div > a .top_txt {position:absolute; top:0; left:0; width:100%; display:block; text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; z-index:2;}
.mtch_slide .match_lst > div .slick-slide > div > div > a .top_txt em {display:inline-block; padding:0 10px; color:#fff; font-size:16px; letter-spacing:-1px; line-height:38px; background:#e54040;}
.mtch_slide .match_lst > div .slick-slide > div > div > a .txt_box, .mtch_slide .match_lst > div .slick-slide > div > div > a .txt_box em {display:block;}
.mtch_slide .match_lst > div .slick-slide > div > div > a .txt_box {position:absolute; top:60px; left:0; width:100%; padding:0 30px; color:#fff; font-family:'nanumSquareb'; font-size:36px; font-weight:500; letter-spacing:-1.5px; line-height:44px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; z-index:200;}
.mtch_slide .match_lst > div .slick-slide > div > div > a .txt_box em {overflow:hidden; padding:15px 0 0 0; font-size:17px; color:#4b99f9; font-weight:normal; line-height:21px; letter-spacing:-1px; text-overflow:ellipsis; white-space:nowrap;}
.mtch_slide .match_lst > div .slick-slide > div > div > a:hover .txt_box {text-decoration:none;}
.mtch_slide .match_lst > div .slick-slide > div > div > a:hover .txt_box em {text-decoration:none!important;}

.mtch_slide .match_lst > button {position:absolute; top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); width:26px; height:50px; font-size:0; line-height:0; color:transparent;  z-index:2;}
.mtch_slide .match_lst > button.slick-prev {background:url('https://cwstatic.asiae.co.kr/election2020/bigmatch/arr_l.png') no-repeat;background-size: contain;}
.mtch_slide .match_lst > button.slick-prev:hover {background:url('https://cwstatic.asiae.co.kr/election2020/bigmatch/on_arrl.png') no-repeat;background-size: contain;}
.mtch_slide .match_lst > button.slick-next {right:0;background:url('https://cwstatic.asiae.co.kr/election2020/bigmatch/arr_r.png') no-repeat;background-size: contain;}
.mtch_slide .match_lst > button.slick-next:hover {background:url('https://cwstatic.asiae.co.kr/election2020/bigmatch/on_arrR.png') no-repeat;background-size: contain;}

.mtch_tab {margin-bottom: 40px; text-align: center;}
.mtch_tab ul {display: inline-block; width: 100%;}
.mtch_tab ul:after {content:'';display: block;clear: both;}
.mtch_tab ul li {width: 15.8%; float: left; margin: 0 0 15px 1%;}
.mtch_tab ul li.lst_none {display: none;}
.mtch_tab ul li:first-child {margin-left: 0;}
.mtch_tab ul li a {width: 100%; height: 80px; padding: 18px 0; border-radius: 5px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; background: #f2f2f2; font-size: 1rem; text-align: center; letter-spacing: -1px; font-family: 'notokrM'; line-height: 1.3; color: #333;}
.mtch_tab ul li:first-child a {font-size: 1.4rem; line-height: 45px;}
.mtch_tab ul li a em {font-size: 1.4rem; color: #6256ff;}
.mtch_tab ul li a.on, .mtch_tab ul li a:hover {background:#FF7D6B; color: #fff; }
.mtch_tab ul li a.on em, .mtch_tab ul li a:hover em {color: #ffe076; }

@media only screen and (max-width:1100px){
    .match_wrap {position: relative; padding: 35px 20px 0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
    .mtch_slide .match_lst > div .slick-slide > div > div > a .thumb {width: 720px; height: 220px;}
}
@media only screen and (max-width:860px){
    .mtch_slide .match_lst > button {width: 20px; height: 40px;}
    .mtch_slide .match_lst > div .slick-slide > div > div > a .thumb {width: 640px; height: 195px;}
    
    .mtch_tab ul {width: 100%;}
    
    
}
@media only screen and (max-width:767px){
    .content {background: none;}
    /*.mtch_slide .match_lst > div .slick-slide > div > div > a .thumb {width: 300px; height: 241px;}
    .mtch_slide .match_lst > div .slick-slide > div > div > a .img01 {background: url(https://cwstatic.asiae.co.kr/election2020/bigmatch/m_mch_01.png) no-repeat; background-size: contain;}
    .mtch_slide .match_lst > div .slick-slide > div > div > a .img02 {background: url(https://cwstatic.asiae.co.kr/election2020/bigmatch/m_mch_02.png) no-repeat; background-size: contain;}
    .mtch_slide .match_lst > div .slick-slide > div > div > a .img03 {background: url(https://cwstatic.asiae.co.kr/election2020/bigmatch/m_mch_03.png) no-repeat; background-size: contain;}*/
    
    .mtch_tab ul li {margin-bottom: 5px;}
    /*.mtch_tab ul li:nth-child(5), .mtch_tab ul li:nth-child(6), .mtch_tab ul li:nth-child(7) {width: 32.4%;}*/
    .mtch_tab ul li {width: 32.6%;}
    .mtch_tab ul li:nth-child(4){margin: 0 0 15px 0;}
    

}
@media only screen and (max-width:425px){
    .match_wrap {padding-top: 20px;}
    .match_wrap .btn_relative {display: block; position: fixed; bottom: 20px; right: 20px; z-index: 999;}

    
    .match_wrap .kword_box {padding-top: 30px; position: relative; width: 100%; overflow: auto;}
    .match_wrap .kword_box:after {content:'';display: block;clear: both;}
    
    .mtch_tab {margin-bottom: 20px;}
    .mtch_tab ul li a {height: 60px; padding: 11px 0; font-size: 0.9rem;}
    .mtch_tab ul li a em {font-size: 1.1rem;}
    .mtch_tab ul li:first-child a {font-size: 1.1rem; line-height: 40px;}
    
    /*.mtch_slide {margin-bottom: 20px;}*/
    
    
}


@media only screen and (max-width:320px){
    .mtch_tab ul li a {font-size: 14px;}
}


















