@charset "utf-8";

body,html {margin: 0; padding: 0; position: relative; width: 100%; height: 100%; font-family:HelveticaNeue-Light,AppleSDGothicNeo-Light,'Noto Sans','Roboto-Light','Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif; }
div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,textarea,input,legend,table,th,td,button,figure,span {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}
ul,li,ol,dl,dt,dd {list-style: none;}
address,caption,cite,code,dfn,em,th {font-style:normal; font-weight:normal;}

/* 링크 스타일 */
a {display:inline-block; text-decoration: none; color: #111;-webkit-tap-highlight-color: rgba(0,0,0,0); }
a::after, a::before {-webkit-tap-highlight-color: rgba(0,0,0,0);} 
a:link,a:visited,a:active {text-decoration:none;}
button {-webkit-tap-highlight-color: rgba(0,0,0,0);}
button::-moz-focus-inner{border:0;padding:0;}
input:checked[type=checkbox]{-webkit-appearance:checkbox;}
input[type=button],input[type=email],input[type=password],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=url],textarea,select{appearance:none; -webkit-appearance:none; -moz-appearance:none; border-radius:0; border:0 none;}
input:focus,textarea:focus{outline:none;}

fieldset, img, abbr, acronym,button {border:0 none;}
button{border:0 none;background-color:transparent;cursor:pointer;outline:none;}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

table {border:0 none; border-collapse:collapse; border-spacing:0; vertical-align:top;}
legend,.ir {width: 0; height: 0; text-indent: -999px; font-size: 0; line-height: 0; color: transparent;}
.skip_navi {width: 0; height: 0; text-indent: -999px; font-size: 0; line-height: 0; color: transparent;}

.dk_wrap {width: 100%; height: 100%; overflow: hidden; background: #fff;}
.header {height: 80px; border-bottom: 1px solid #efefef;  box-sizing: border-box;}
.header h1 {text-align: center;}
.header h1 a {margin-top: 24px; display: inline-block; width: 110px; height: 24px;}
.header h1 a img {width: 100%;}
#container {width: 100%; height: auto;}
.content {margin: 60px auto 150px; width: 400px;}

.footer {width: 100%; height: auto; padding-bottom: 20px; border-top: 1px solid #e1e1e1; box-sizing: border-box; background: #fff;}
.footer .copyright {margin-top: 20px; text-align: center; font-size: 13px; font-family: 'notokrR'; color: #595959;}

/* 가입완료 */
[class*="account_"]{text-align: center;}
[class*="account_"] > h2 {margin-bottom: 0px; font-size: 40px; line-height: 1; letter-spacing: -1px; font-family: 'notokrR'; color:#f25749;}
[class*="account_"] .ico_dk {display: inline-block; width: 134px; height: 76px; }
[class*="account_"] .ico_join {background: url(https://cwstatic.asiae.co.kr/drinkeat/join/acct_join.png) no-repeat; background-size: contain;}
[class*="account_"] .ico_info {background: url(https://cwstatic.asiae.co.kr/drinkeat/join/acct_info.png) no-repeat; background-size: contain;}
[class*="account_"] .ico_pw {width: 120px; background: url(https://cwstatic.asiae.co.kr/drinkeat/join/acct_pw.png) no-repeat; background-size: contain;}
[class*="account_"] .ico_sch {width: 120px; background: url(https://cwstatic.asiae.co.kr/drinkeat/join/acct_sch.png) no-repeat; background-size: contain;}

[class*="account_"] > p {margin: 30px 0 40px; font-size: 19px; letter-spacing: -1px; font-family: 'notokrR';}
[class*="account_"] > p span {color: #f25749;}
[class*="account_"] .txt {display: block; margin: -30px 0 40px; font-size: 14px; color: #595959; letter-spacing: -1px;}
[class*="account_"] .btn_wrap {width: 100%;}
[class*="account_"] .btn_wrap div {display: inline-block; width: 49%;}
[class*="account_"] .btn_wrap a {display: block; width: 100%; background: #000; color: #fff; font-size: 15px; letter-spacing: -1px; font-family: 'notokrR'; line-height: 50px;}


/* 비밀번호 재발급 */
.account_pw .btn_wrap .login_btn {width: 100%;}
/* 계정찾기 */
.input_box .txtinput {margin-bottom: 10px;}
.input_box .txtinput label {position: absolute; width: 0; height: 0; font-size: 0; line-height: 0; color: transparent; text-indent: -9999px;}
.input_box .txtinput input {text-indent: 20px; width: 100%; height: 50px;border: 1px solid #eee;  box-sizing: border-box; font-size: 15px; letter-spacing: -1px;}
.input_box .txtinput input::placeholder {color: #999;}

/* 잘못 입력했을때 */
.input_box .wrong input {border: 1px solid #D02727;}
.input_box .wrong .wrong_txt {display: none; margin-top: 5px; text-align: left; color:#D02727; font-family: 'notokrR'; letter-spacing: -1px; font-size: 13px; }
/* //잘못 입력했을때 */
.input_box .submit_cf {margin-bottom: 20px;}
.input_box .submit_cf .confirm_btn {width: 100%; line-height: 50px; background: #000; color: #fff; font-family: 'notokrR'; font-size: 17px; letter-spacing: -1px;}
.input_box .sch_pw {font-size: 14px; color: #595959; letter-spacing: -1px; font-family: 'notokrR'; }
.input_box .sch_pw:hover {text-decoration: underline;}

@media only screen and (max-width:425px){
    .header {height: 60px;}
    .header h1 a {margin-top: 18px; width: 100px; height: 22px; }
    .content {width: 100%; margin: 60px auto;}
    [class*="account_"] {padding: 0 20px; width: 100%; box-sizing: border-box;}
    [class*="account_"] > p {margin: 20px 0 30px;}
    [class*="account_"] .txt {margin-bottom: 30px;}
}
@media only screen and (max-width:375px){
    .dk_wrap {height: auto;}
    [class*="account_"] > h2 {font-size: 35px;}
    [class*="account_"] > p {font-size: 18px;}
    .footer {position: static; margin-top: 60px;}
}
@media only screen and (max-width:320px){
    .content {margin: 60px auto 0px;}
    [class*="account_"] > p {font-size: 17px;}
    .footer{margin-top: 30px;}
}
























