@charset "utf-8";

.content {margin-top: 60px;}
/* 회원탈퇴 */
.leave_page {padding-top: 90px; width: 100%; box-sizing: border-box;}
.leave_page:after {content:'';display: block;clear: both;}

.leave_page h2 {padding-bottom: 20px; font-size: 33px; font-family: 'notokrR'; letter-spacing: -1px; border-bottom: 2px solid #707070; box-sizing: border-box;}
.leave_page .tit_box {text-align: center; }
.leave_page .tit_box p {margin: 35px 0 0px; font-size: 30px; letter-spacing: -1px;}
/*.leave_page .tit_box p span {padding-right: 10px;}*/
.leave_page .leave_img {margin: 30px auto 0 ; width: 100px; height: 95px; background: url(https://cwstatic.asiae.co.kr/drinkeat/join/img_leave.png) no-repeat; background-size: contain;}
.leave_page .leave_chk {margin-top: 35px; padding:20px 0 50px; border-top: 1px solid #ddd; box-sizing: border-box; }
.leave_page .leave_chk > p {/*margin-bottom: 5px; */font-size: 21px; font-family:'notokrR'; letter-spacing: -1px;}
.leave_page .leave_chk > span {margin-top: 7px; font-size: 14px; line-height: 1.7; /*font-family:'notokrR';*/ letter-spacing: -1px; color: #595959;}
.leave_page .leave_box {padding-bottom: 100px; margin: 0 auto; width: 800px;}
.leave_page .leave_box .email {margin-bottom: 20px;}
.leave_page .leave_box .email p {}
.leave_page .leave_box .email div {display: inline-block; font-size: 15px; letter-spacing: -1px; font-family: 'notokrR';}
.leave_page .leave_box .email p,.leave_page .leave_box .password label,.leave_page .leave_box .reason p {display: inline-block; font-size: 15px; letter-spacing: -1px; font-family: 'notokrR'; width: 120px;}
.leave_page .leave_box .password {margin-bottom: 10px;}
.leave_page .leave_box .password label {margin-right: -4px; line-height: 50px;} 
.leave_page .leave_box .password input {width: 678px; height: 50px; border: 1px solid #eee; font-size: 15px; letter-spacing: -1px; text-indent: 20px; box-sizing: border-box;}

.leave_page .leave_box .reason {margin-bottom: 10px;}
.leave_page .leave_box .reason select {margin-left: -5px; padding: 0 20px; display: inline-block; width: 678px; height: 40px; border: 1px solid #eee; box-sizing: border-box; font-size: 15px; letter-spacing: -1px; padding-left: 20px; color: #999; font-family: 'notokrR'; -webkit-appearance: none;-moz-appearance: none; appearance: none; background: url(https://cwstatic.asiae.co.kr/drinkeat/join/select_arr.png) 98% 12px no-repeat #fff; background-size: 13px 9px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.leave_page .leave_box .reason select::-ms-expand {display: none;}

.leave_page .leave_box .reason select > option {width: 100%; padding:0 20px; font-size: 15px; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.leave_page .leave_box .btn_wrap {margin-top: 70px; text-align: center;}
.leave_page .leave_box .btn_wrap a {width: 190px; line-height: 50px; font-family:'notokrR'; letter-spacing: -1px; font-size: 17px; border: 1px solid #707070;}
.leave_page .leave_box .btn_wrap a:first-child {margin-right: 5px;}
.leave_page .leave_box .btn_wrap a:hover {background: #000; color: #fff;}

/*탈퇴확인 페이지*/
.leave_page p .sub_txt{display: block; padding-top: 5px; font-size: 17px; letter-spacing: -1px; color: #595959;}
.leave_page .btn_main {margin-top: 35px; padding: 70px 0 100px; text-align: center; border-top: 1px solid #ddd; box-sizing: border-box;}
.leave_page .btn_main a {width: 190px; line-height: 50px; font-family: 'notokrR'; letter-spacing: -1px; font-size: 17px; border: 1px solid #707070;}
.leave_page .btn_main a:hover {background: #000; color: #fff;}
.leave_page .unregister_img {margin: 30px auto 0; width: 100px; height: 95px; background: url(https://cwstatic.asiae.co.kr/drinkeat/join/img_bye.jpg) no-repeat; background-size: contain;}


@media only screen and (max-width:840px){
    .leave_page .leave_box {width: 100%;}
    .leave_page .leave_box .email p, .leave_page .leave_box .password label, .leave_page .leave_box .reason p {width: 15%;}
    .leave_page .leave_box .password input,.leave_page .leave_box .reason select {width: 84.5%;}
    .leave_page .leave_box .reason:after {width: 14px; height: 10px; top: 13px;}
}
@media only screen and (max-width:768px){
    .leave_page h2 {font-size: 28px;}
    .leave_page .tit_box p {font-size: 25px;}
    .leave_page .leave_chk > p {font-size: 20px;}
    .leave_page .leave_box {padding-bottom: 70px;}
    .leave_page .leave_box .btn_wrap {margin-top: 50px;}
    .leave_page .leave_box .btn_wrap a {width: 170px;font-size: 16px;}
    
    .leave_page .btn_main {padding:50px 0 70px;}
}
@media only screen and (max-width:580px){
    .leave_page .leave_box .email p, .leave_page .leave_box .password label, .leave_page .leave_box .reason p {width: 20%;}
    .leave_page .leave_box .password input, .leave_page .leave_box .reason select {width: 79.5%;}
    .leave_page .leave_chk > span:nth-child(2) {margin-top: 10px;}
}

@media only screen and (max-width:425px){
    .leave_page {padding-top: 50px;}
    .leave_page h2 {padding-bottom: 10px; font-size: 24px;}
    .leave_page .tit_box p {font-size: 21px;}
    .leave_page .tit_box p span {display: block; padding-right: 0;}
    .leave_page .leave_img {width: 90px; height: 85px;}
    .leave_page .leave_chk {padding: 30px 0;}
    .leave_page .leave_chk > p {font-size: 19px;}
    .leave_page .leave_box {padding-bottom: 50px;}
    .leave_page .leave_box .email {margin-bottom: 10px;}
    .leave_page .leave_box .reason select {padding-right: 35px; background-position: 96%; }
    .leave_page .leave_box .reason select > option {font-size: 14px;}
    
    .leave_page .leave_box .btn_wrap {margin-top: 35px;}
    .leave_page .leave_box .btn_wrap a {width: 120px; line-height: 45px; font-size: 15px;}
    
    .leave_page .btn_main {padding:35px 0 50px;}
}
@media only screen and (max-width:375px){
    .leave_page .leave_chk {padding: 20px 0 35px;}
    .leave_page .leave_chk > p {font-size: 17px;}
    .leave_page .leave_chk > span {font-size: 13px;}
    .leave_page .leave_box .email p, .leave_page .leave_box .password label, .leave_page .leave_box .reason p {width: 25%;}
    .leave_page .leave_box .password input,.leave_page .leave_box .reason select {width: 72.5%;}
    .leave_page .leave_box .password input {font-size: 14px; text-indent: 15px;}
    .leave_page .leave_box .reason select {padding-left: 0; font-size: 14px; text-indent: 15px;}
    
    
}
@media only screen and (max-width:320px){
    .leave_page .leave_box .reason select {background-size: 13px 9px; background-position: 94%;}
    .leave_page .tit_box p {font-size: 20px;}
}









