2020.09.03 main.html CODE GUIDE

4/3/2 (main/section/article)
재택근무로 연장

1. HTML구조

header | container | footer

header .inner_area {width: 1100px}
content .inner_area {width:1140px}

<!-- header -->
header .main_head {로고 및 메뉴}
header .direct_head {실시간뉴스, 지면보기}

<!-- content -->
content [class*="main_ct"] {}
content .left_ct {float: left; width: 560px;}
content .right_ct {float: right; width: 540px;}
content .main_ct01 {메인상단 컨텐츠}
content .main_ct02 {아시아경제 기획·이슈}
content .main_ct03 {가장 많이 본 뉴스}
content .main_ct04 {연예·스포츠 뉴스}
content .main_ct05 {패밀리 사이트}

<!-- footer -->
footer {}
footer .service_wrap {공지사항/이벤트행사}
footer .all_menu_wrap {전체 서비스 보기/사이트맵}
footer .corp_info {회사소개 및 개인정보처리방침}
footer .address {회사 주소}

2. 마크업 공통 태그

h1 : 메인 로고 
    .asiae_logo
h2 : 컨텐츠별 타이틀 
    .main_ct02 .title {아시아경제·이슈}
    .main_ct04 .title {연예·스포츠}
    .main_ct05 .title {패밀리사이트}
h3 : 소제목 
    .main_video .s-title {아시아경제 영상}
    .main-opinion .s-title {오피니언}
    .stock-box .s-title {오늘의 증시}
    .drk-box .s-title {색다른 즐거움,드링킷}
    .news-check .it-title {NEWS CHECK}
    .rank-news .s-title {가장 많이 본 뉴스}
    .photo-news .s-title {포토 인기뉴스}
h4 : 가장 많이 본 랭킹뉴스 헤드라인
    .rank-news .tab_cont .headline {랭킹뉴스 헤드라인}

.news_list 구조
ul > li > dl > dt : 기사 헤드라인
ul > li > dl > dd : 연관 기사들
ul > li > dl.type01
ul > li > dl.type02

3. 클래스 명

<!-- header -->
header .main_menu {}
.main_menu .asiae_logo {아시아경제 로고}
.main_menu .all_menu {전체메뉴버튼}
.main_menu .all_menu_wrap {전체메뉴창}
.main_menu .utility {로그인 및 sns}
.main_menu .gnb {메인 메뉴}

header .direct_head {}
.direct_head .roll_news {실시간 뉴스}

<!-- content -->
content .left_ct {}
.left_ct .top_news {상단 비주얼 슬라이드 뉴스}
.left_ct ul.news_list {뉴스 종류별 리스트}
.left_ct .news_list li .type01 {헤드라인,연관 뉴스}
.left_ct .news_list li .type02 {썸네일,연관 뉴스}
.left_ct .photo_news {썸네일 이미지 뉴스}
.left_ct .news-check {뉴스체크 썸네일 기사 미리보기글 뉴스}

content .right_ct {}
.right_ct .top_head {상단 헤드라인 뉴스}
.right_ct .news_box {2단 기사리스트, 썸네일뉴스}
.right_ct .thumb_list {3단 썸네일 뉴스}
.right_ct .news_box2 {좌우 썸네일,기사 리스트}
.right_ct .news_box2 .phto_lst {6단 썸네일리스트}
.right_ct .news_box2 .text_lst {헤드라인 기사리스트}
.right_ct .main_video {아시아경제 영상}
.right_ct .news_box3 {2단 좌우 썸네일이미지 리스트}
.right_ct .main-opinion {오피니언}
.right_ct .main_info {정보}
.right_ct .main_info .stock-box {오늘의 증시}
.right_ct .main_info .drk-box {드링킷 컨텐츠}
.right_ct .rank-news {가장 많이 본 랭킹 뉴스 }
.right_ct .photo-news {포토 인기뉴스}

.main_ct02 .issue_slide {아시아경제 기획·이슈 슬라이드}

.main_ct04 .top-row {연예·스포츠 뉴스 상단 가로 행}
           .top-row .big-thumb {빅썸네일 뉴스}
           .top-row .top_chart {베스트 상위 썸네일 뉴스}
           .top-row .btm_chart {베스트 랭킹 3단 썸네일 뉴스}
.main_ct04 .bottom-row {연예·스포츠 뉴스 하단 가로 행}
           .bottom-row .news_list {썸네일 기사뉴스}

.main_ct05 .famliy_slide {패밀리 사이트 슬라이드}

<!-- footer -->
footer .service_wrap {}
.service_wrap .f_notice {공지/사고}
.service_wrap .f_event {이벤트/행사}
.service_wrap .btn_service {전체서비스보기 버튼}

footer .corp_info {}
.corp_info .btn_family {퍼스트클럽 버튼}

4. CSS 스타일링

<!-- 크기 -->
.asiae_logo {width: 180px; height: 41px;}
.all_menu {width: 52px; height: 42px;}


<!-- 폰트 -->

/*메인 메뉴들*/ 
.gnb .menu li a
{font-family: 'notokrR'; font-size: 15px; letter-spacing: -1.1px; font-weight: bold; line-height: 50px;}

/*비주얼 상단뉴스 타이틀*/ 
.visual-slide .text_box strong
{font-family: 'nanumSquareb'; font-size: 36px; letter-spacing: -1.5px; line-height: 44px; color: #fff;}

/*비주얼 상단뉴스 서브헤드라인*/ 
.visual-slide .text_box em
{font-size: 17px; letter-spacing: -1px; color: #4b99f9;}

/*메인 상단 헤드라인*/ 
.right_ct .top_head .headline a
{font-family: 'nanumSquareb'; font-size: 26px; letter-spacing: -1.5px;}

/*뉴스리스트 헤드라인*/ 
.news_list dl dt a
{font-size: 19px; line-height: 24px; letter-spacing: -2px; font-weight: 600; color: #111;}

/*뉴스리스트 연관뉴스*/ 
.news_list dl .desc .rel_news li a
{font-size: 15px; color: #333;}

/*썸네일 이미지 뉴스*/ 
.photo_news a .headline
{font-family: 'nanumSquareb'; font-size: 26px; letter-spacing: -2px;}

/*2단 기사리스트, 썸네일뉴스*/ 
.news_box ul li a
{font-size: 17px; letter-spacing: -1.5px;}
.news_box ul li:first-child a {font-size: 17px; letter-spacing: -2px; font-weight: bold;}

/* 헤드라인 기사리스트 */
.news_box2 .text_lst ul li a
{font-size: 14px; line-height: 19px; letter-spacing: -1px;}
.news_box2 .text_lst ul li a.on
{font-weight: bold; color: #1e88e5;}

/* h2.title */
.main_ct02 .title {font-family: 'nanumSquareb'; font-size: 19px; letter-spacing: -1px; color: #fff;}


/* h3 소제목 */
.s-title a
{font-size: 16px; font-weight: 600; letter-spacing: -2px;}
.main_ct03 .news-check .it-title 
{font-size: 18px; font-style: italic; font-weight: 600;}







<!-- 백그라운드 -->








